<plugin>
    <groupId>org.liquibase</groupId>
    <artifactId>liquibase-maven-plugin</artifactId>
    <version>4.23.1</version>
    <configuration>
        <propertyFile>${liquibase.config}</propertyFile>
    </configuration>
    <executions>
        <execution>
            <phase>process-resources</phase>
            <goals>
                <goal>clearCheckSums</goal>
                <goal>update</goal>
            </goals>
        </execution>
    </executions>
</plugin>